@import url('https://fonts.googleapis.com/css?family=Heebo:400,700|Open+Sans:400,700'); 
* {
    margin: 0px;
    padding: 0px;
}
:root {
    --color: #3f888f;
  }
body{
    margin: 0px;
    padding: 0px;
    background-color: black;
    color: black;
}
a{
    text-decoration: none;
    color: white;
}

li{
    list-style-type: none;
}

.logo{
 margin-left: 10px;
 padding: 5px;
}

.menu-container{
    width: 100%;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: black;
}
.menu{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.menu li{
    margin: 20px;
    font-size: 1.5rem;
    font-family:  'Heebo', Arial, Helvetica, sans-serif;
}
#section1{
    background-image: url('./imgs/back-gym.jpg');
    background-size: cover;
    overflow: hidden;
    color: white;
    display: flex;
    justify-content: flex-end;
    height: 90vh;
}

.bloco-sobre{
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 15px;
    background-color: rgba(1,10,15,0.5);
    width: 700px;
}

.bloco-sobre h1{
    text-align: center;
    font-family:  'Heebo', Arial, Helvetica, sans-serif;
}
.bloco-sobre p{
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 15px;
    font-family:  'Heebo', Arial, Helvetica, sans-serif;
}
.bloco-sobre img{
    margin-bottom: 5px;
    margin-left: 20px;
    margin-right: 20px;
    width: 650px;
    height: 220px;
    object-fit: cover;
    object-position: center;
    border-radius: 40px;
    border: solid 1px white;
}

.titulo-planos{
    color: white;
    padding: 15px;
    text-align: center;
    font-family:  'Heebo', Arial, Helvetica, sans-serif;
}

.planos{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem;
  flex-wrap: wrap;
}

.card {
    font-family: 'Heebo', Arial, Helvetica, sans-serif;
    height: 20em;
    width: 15em;
    font-size: 1.5em;
    color: white;
    border-radius: 1em;
    padding: 1em;
    display: flex;
    align-items: flex-end;
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 5em -1em black;
    overflow: hidden;
    border: 10px solid #ccc;
    text-decoration: none;
    margin: 10px;
  }

.card h1 {
margin: 0;
font-size: 1.5em;
line-height: 1.2em;
}

.card p {
    font-size: 0.75em;
    font-family: 'Open Sans';
    margin-top: 0.5em;
    line-height: 2em;
  }

.card .tags {
display: flex;
}

.card .tags .tag {
    font-size: 0.75em;
    background: rgba(255,255,255,0.5);
    border-radius: 0.3rem;
    padding: 0 0.5em;
    margin-right: 0.5em;
    line-height: 1.5em;
}
  
.card:hover .tags .tag {
background: var(--color);
color: white;
}

.card:hover {
color: var(--color);
}


.contato{
    background-color: #e2e2e2;
    font-family: 'Heebo', Arial, Helvetica, sans-serif;
    border: solid 2px #3f888f;
    padding: 15px;
    text-align: center;
}

.contato p{
    font-size: 1.2rem;
    font-weight: bold;
}

.rodape{
    text-align: center;
    background-color: #3f888f;
    font-weight: bold;
    font-family: 'Heebo', Arial, Helvetica, sans-serif;
}

@media (max-width: 780px)
{
    #section1{
        height: 100%;
    }
    .bloco-sobre{
        text-align: justify;
        padding: 15px;
        background-color: rgba(1,10,15,0.5);
        width: 500px;
    }
    .bloco-sobre img{
        width: 360px;
        height: 170px;
        margin: 5px auto;
    }
    .card {
        margin-bottom: 15px;
        margin-left: 0px;
      }

}

@media (max-width: 500px)
{
    .card {
        width: 500px;
        height: 250px;
        margin-bottom: 15px;
        margin-left: 0px;
      }
}

@media (max-width: 430px)
{
    .bloco-sobre{
        text-align: justify;
        padding: 15px;
        background-color: rgba(1,10,15,0.5);
        width: 100vw;
    }
    .bloco-sobre img{
        width: 360px;
        height: 200px;
        margin: 10px 10px 10px 10px;
    }
    .bloco-sobre h1{
        margin-left: 40px;
    }
    .bloco-sobre p{
        margin-left: 70px;
    }
    .menu-container{
        height: 100%;
    }

}

@media (max-width: 320px)
{
    .bloco-sobre img{
        width: 300px;
        height: 200px;
        margin: auto;
    }
    .bloco-sobre p{
        margin-left: 50px;
    }
    .planos{
        padding: 1rem;
      }

}